<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memepedia: {% block title %}  {% endblock %}</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="{{ url_for('static', filename = 'css/style.css') }} "rel="stylesheet">
	<script src="script.js" defer></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">  <!-- Navbar starts here -->
		<a class="navbar-brand" href="{{ url_for('index') }}">Navbar</a>   <!-- Main page -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav"> 
				<li class="nav-item active"> <!-- Here change from "active" to "" in renders, indicates if the page is the current one or not-->
					<a class="nav-link" href="{{ url_for('catalogue')}}">Catalogue</a><!-- Change links -->
				</li>
				{% if session.authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('favorites')}}">Favorites</a>
				</li>
				{% endif %}
			</ul>
			{% if session.authenticated %}
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('profile')}}">Profile</a>
				</li>
			{% else %}
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('login') }}">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('register') }}">Register</a>
				</li>
			{% endif %}
			</ul>
		</div>
	</nav>
    {% block content %}
    {% endblock %}
	
	
</body>
</html>
