{% extends 'base.html' %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">MEMEPEDIA</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">Database with popular memes.</h2>

            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
                <img src="static/img/hero.gif" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section>
<!-- End Hero -->


<main id="main">

    <!-- ======= Memes Section ======= -->
    <section id="clients" class="clients clients">
        <div class="container">

            <div class="row">

                <div class="col-lg-4 col-md-8 col-12">
                    <img src="static/img/clients/client-1.gif" class="img-fluid" alt="" data-aos="zoom-in">
                </div>

                <div class="col-lg-4 col-md-8 col-12">
                    <img src="static/img/clients/client-2.gif" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="50">
                </div>

                <div class="col-lg-4 col-md-8 col-12">
                    <img src="static/img/clients/client-3.gif" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
                </div>


            </div>

        </div>
    </section><!-- End Memes Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>About Us</h2>
            </div>

            <div class="row content">
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
                    <p>
                          Created by Ansar Sansyzbaev, Adil Shonbayev and Nursultan Kabenov
                    </p>
                   
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <blockquote>
                        <p>
                            Always remember: No russian<a href="https://www.youtube.com/watch?v=gwD_vCfq9WI&feature=youtu.be">.</a>
                        </p>
                    </blockquote>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->









    <!-- End Team Section -->




    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Contact Us</h2>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="contact-about">
                        <h3>Memepedia</h3>
                        <p>Memepedia is the best website where you can find funny memes collection from internet.</p>
                        <div class="social-links">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="info">
                        <div>
                            <i class="ri-map-pin-line"></i>
                            <p>1 Uly dala Street<br>Astana,020001</p>
                        </div>

                        <div>
                            <i class="ri-mail-send-line"></i>
                            <p>info@example.com</p>
                        </div>

                        <div>
                            <i class="ri-phone-line"></i>
                            <p>8-800-555-35-35 @bbcqw</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        </div>
    </section><!-- End Contact Section -->

</main>

{% endblock %}